<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPage">

<section layout:fragment="layoutpage">
	<link rel="stylesheet" type="text/css" href="/css/HomePage.css" />
	<link rel="stylesheet" type="text/css" href="/css/Courses.css" />
	<link rel="stylesheet" type="text/css" href="/css/LayoutPage.css" />

	<style type="text/css">
		.errorMessage {
			font-size: 18px;
		}
	</style>


	<title>Courses</title>

	<body style="background-color: #2a7ae4">
 	
	<form class="form-inline" method="POST" th:action="@{/courses}" th:object="${course}">
				<div class="form-group">
					<input type="text" class="form-control"	placeholder="Título" th:field="*{tittle}"> </input>
					<input type="text" class="form-control" placeholder="Descrição" th:field="*{description}"> </input>
					<input type="number" class="form-control" placeholder="1-5" th:field="*{rating}"> </input>
					<button type="submit" class="btn btn-primary">Adicionar</button>
					<div th:if="${#fields.hasErrors('*')}">
						<p th:each="erro : ${#fields.errors('*')}"
						   th:text="${erro}"
							class="errorMessage">
						</p>
					</div>
				</div>
	</form>
	
		<div class="big-container">
 			<tbody>
				<tr th:each="course : ${courses}">
				<div class="row">
					<div class="small-row">
						<div class="courses-styles">
							<p>Curso: <td name="tittle" th:text="${course.tittle}"></td></p>
							<p>Descrição: <td name="description" th:text="${course.description}"></td></p>
							<p>Rating: <td name="rating" th:text="${course.rating}"></td></p>
							<button class="register-button">
							<a th:href="@{/courses/delete/} + ${course.id}" class="glyphicon glyphicon-trash">          Remover Curso</a>
							</button>
						</div>
					</div>
				</div>
				</tr>
			</tbody>
		</div>
	</body>
</section>
</html>